@import "tailwindcss";

html {
   background-color: #FAF1E6;
}
body {
   font-family: 'Segoe UI',sans-serif;
   font-size: 20px;
   font-weight: normal;
   text-decoration: none;
}

.fade-enter {
   opacity: 0;
   transform: translateY(10px);
 }
 .fade-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }
 .fade-exit {
   opacity: 1;
 }
 .fade-exit-active {
   opacity: 0;
   transition: opacity 500ms;
 }
 